;TODO: 0. replace key:a with key:t 1. scroll down/up, 2. go left right panes on MAC => right modifier + edsfm, wr (tab switch)
; 3. d+o == ':', s+, == '$', 4. ln => (), ue => [], yi => {}, "double click" in word (highlights the word curos is on)





; -- Examples
; https://github.com/kaushikgopal/dotfiles/blob/master/.karabiner.edn
; https://github.com/yqrashawn/GokuRakuJoudo/blob/master/tutorial.md#advance
; https://gist.github.com/gsinclair/9233f4efc089e6671a271706a2fce0d3
;;;; COLEMAK (recognizes the literal key on the keykoard)
{
 :profiles {
    :Default {
        :default true

        :sim     25     ;; simultaneous key press threshold (def: 50)
                        ;; simlayer is implemented with to_if_alone and simultaneous key press feature
                        ;; if keydown event for two different keys are pressed within :sim ms, the keypresses are considered simultaneous
        :delay   10    ;; to_delayed_action_delay_milliseconds (def: 500)
                       ;; checkout karabiner's documentation
                       ;; https://pqrs.org/osx/karabiner/json.html
                       ;; basically it means time after which the key press is count delayed

                        ;; after :delay ms, the key press is considered to be delayed
                        ;; (used for double-press macros)
        :alone   500    ;; to_if_alone_timeout_milliseconds (def: 1000)
                        ;; https://pqrs.org/osx/karabiner/json.html#to-if-alone
                        ;; affects to_if_alone behavior
                        ;; simlayer is implemented with to_if_alone and simultaneous key press feature

                        ;; if keyup event comes within :alone ms from keydown, the key is not just pressed but held
        :held    500    ;; to_if_held_down_threshold_milliseconds (def: 500)
                        ;; key is fired twice when :held ms is elapsed (otherwise seen as a hold command) (TODO WHAT IS THIS??)
        :simlayer-threshold 250  ;; You have to press the second key within the 250 ms window or else it types normally
    }
} ;; profiles



:devices {
    :apple [
        {:vendor_id 1452}
        {:is_built_in_keyboard true}
    ]
    :msft [{:vendor_id 1118, :product_id 2092}]  ;; Microsoft Ergonomic Keyboard

    :kybs [  ;; Default for all keyboards.
        {:vendor_id 1452}
        {:vendor_id 1118}
    ]
} ;; devices

;; ----------------------------------
;; Hardware Keyboard Mappings
;; ----------------------------------
; { :des "Microsoft Ergonomic Keyboard"
;   :rules [ :msft
;       [:right_option :right_command]
; ]}



;; simlayers are basically "hyper" keys
;; layers works too, but only recommended for non-typing keys like . or tab
;; to use more regular typing keys, use simlayers
 :simlayers {
    :e-mode {:key :e}      ; navigation    hnei
    :s-mode {:key :s}      ; delimeters    { } ( _ [ ]
} ;; simlayers 
 
 ;; main contains multiple manipulators
 :main [
        { :des "Right Hand Home Row mods"
         :rules [
               ;;  [:comma :left_shift nil {:alone [:comma]}]  ;-- ; -> ; (alone) | left_command (hold);
                 ]
         }
    { :des "e-mode (navigation)"
      :rules [:e-mode
          [:h :left_arrow]
          [:j :down_arrow]
          [:k :up_arrow]
          [:l :right_arrow ]
          [:semicolon :return_or_enter ]
          [:i :delete_or_backspace]
      ]
    }
    { :des "s-mode (delimeters)"
      :rules [:s-mode
          [:h :!S9]                  ; '('
          [:y :!S0]                  ; ')'
          [:k :open_bracket]         ; '['
          [:i :close_bracket]        ; ']'
          [:l :!Sopen_bracket]       ; '{'
          [:o :!Sclose_bracket]      ; '}'
          [:j :!Shyphen]             ; '_'
          [:u :hyphen]               ; '-'
          [:n :equal_sign]           ; '='
          [:m :!S1]                  ; '!'
          [:semicolon :!Sp]          ; ':'
          [:comma :!S4]              ; '$'
      ]
    }
  ]
}
